.mdbackground-color { color: black;
}
.welcome-card-square > .mdl-card__title {
  color: white;
  background-color:
    red;
    height: inherit;
    width: inherit;
}
.calendar {

}
.team-hello {
    font-size: 15px;
    line-height: 40px;
    leter-spacing: 25px;

}
